<!DOCTYPE html>
<html>
    <head>
        <title>Getir App</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="icon"
              type="image/png"
              href="https://getir.com/images/bimutluluk.png">
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
       <div class="container">
           <h1>PAGE NOT FOUND</h1>
           <a href="/">CLICK TO GO HOME</a>
       </div>
    </body>
</html>